@import "~bootstrap/scss/bootstrap.scss";


input{
    font-size: 22px;
    width: 100%;
}
.main{
    width: 70%;
}
ul{
    margin: 0;
}
li{
    font-size: 22px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.delLi{
    width: 20px;
    height: 20px;
	background-color: black;
}
